# Configuration file

fluids {
    S:fluid.aerotheum.cardrank=
    S:fluid.aerotheum.grammar=
    S:fluid.aerotheum.instability.factor_accessibility=
    S:fluid.aerotheum.instability.factor_flat=
    S:fluid.alchemical_redstone.cardrank=
    S:fluid.alchemical_redstone.grammar=
    S:fluid.alchemical_redstone.instability.factor_accessibility=
    S:fluid.alchemical_redstone.instability.factor_flat=
    S:fluid.alchemical_redstone.seabanned=
    S:fluid.aluminum.cardrank=
    S:fluid.aluminum.grammar=
    S:fluid.aluminum.instability.factor_accessibility=
    S:fluid.aluminum.instability.factor_flat=
    S:fluid.aluminum.seabanned=
    S:fluid.astralsorcery.liquidstarlight.cardrank=
    S:fluid.astralsorcery.liquidstarlight.grammar=
    S:fluid.astralsorcery.liquidstarlight.instability.factor_accessibility=
    S:fluid.astralsorcery.liquidstarlight.instability.factor_flat=
    S:fluid.astralsorcery.liquidstarlight.seabanned=
    S:fluid.biodiesel.cardrank=
    S:fluid.biodiesel.grammar=
    S:fluid.biodiesel.instability.factor_accessibility=
    S:fluid.biodiesel.instability.factor_flat=
    S:fluid.biodiesel.seabanned=
    S:fluid.blood.cardrank=
    S:fluid.blood.grammar=
    S:fluid.blood.instability.factor_accessibility=
    S:fluid.blood.instability.factor_flat=
    S:fluid.blood.seabanned=
    S:fluid.bronze.cardrank=
    S:fluid.bronze.grammar=
    S:fluid.bronze.instability.factor_accessibility=
    S:fluid.bronze.instability.factor_flat=
    S:fluid.bronze.seabanned=
    S:fluid.cloud_seed.cardrank=
    S:fluid.cloud_seed.grammar=
    S:fluid.cloud_seed.instability.factor_accessibility=
    S:fluid.cloud_seed.instability.factor_flat=
    S:fluid.cloud_seed.seabanned=
    S:fluid.cloud_seed_concentrated.cardrank=
    S:fluid.cloud_seed_concentrated.grammar=
    S:fluid.cloud_seed_concentrated.instability.factor_accessibility=
    S:fluid.cloud_seed_concentrated.instability.factor_flat=
    S:fluid.cloud_seed_concentrated.seabanned=
    S:fluid.concrete.cardrank=
    S:fluid.concrete.grammar=
    S:fluid.concrete.instability.factor_accessibility=
    S:fluid.concrete.instability.factor_flat=
    S:fluid.concrete.seabanned=
    S:fluid.copper.cardrank=
    S:fluid.copper.grammar=
    S:fluid.copper.instability.factor_accessibility=
    S:fluid.copper.instability.factor_flat=
    S:fluid.copper.seabanned=
    S:fluid.creosote.cardrank=
    S:fluid.creosote.grammar=
    S:fluid.creosote.instability.factor_accessibility=
    S:fluid.creosote.instability.factor_flat=
    S:fluid.creosote.seabanned=
    S:fluid.crude_oil.cardrank=
    S:fluid.crude_oil.grammar=
    S:fluid.crude_oil.instability.factor_accessibility=
    S:fluid.crude_oil.instability.factor_flat=
    S:fluid.crude_oil.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.dawnstone.cardrank=
    S:fluid.dawnstone.grammar=
    S:fluid.dawnstone.instability.factor_accessibility=
    S:fluid.dawnstone.instability.factor_flat=
    S:fluid.dawnstone.seabanned=
    S:fluid.diesel.cardrank=
    S:fluid.diesel.grammar=
    S:fluid.diesel.instability.factor_accessibility=
    S:fluid.diesel.instability.factor_flat=
    S:fluid.diesel.seabanned=
    S:fluid.dist_water.cardrank=
    S:fluid.dist_water.grammar=
    S:fluid.dist_water.instability.factor_accessibility=
    S:fluid.dist_water.instability.factor_flat=
    S:fluid.dist_water.seabanned=
    S:fluid.electrum.cardrank=
    S:fluid.electrum.grammar=
    S:fluid.electrum.instability.factor_accessibility=
    S:fluid.electrum.instability.factor_flat=
    S:fluid.electrum.seabanned=
    S:fluid.ender.cardrank=
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.seabanned=
    S:fluid.ender_distillation.cardrank=
    S:fluid.ender_distillation.grammar=
    S:fluid.ender_distillation.instability.factor_accessibility=
    S:fluid.ender_distillation.instability.factor_flat=
    S:fluid.ender_distillation.seabanned=
    S:fluid.ethanol.cardrank=
    S:fluid.ethanol.grammar=
    S:fluid.ethanol.instability.factor_accessibility=
    S:fluid.ethanol.instability.factor_flat=
    S:fluid.ethanol.seabanned=
    S:fluid.fiery_essence.cardrank=
    S:fluid.fiery_essence.grammar=
    S:fluid.fiery_essence.instability.factor_accessibility=
    S:fluid.fiery_essence.instability.factor_flat=
    S:fluid.fiery_essence.seabanned=
    S:fluid.fierymetal.cardrank=
    S:fluid.fierymetal.grammar=
    S:fluid.fierymetal.instability.factor_accessibility=
    S:fluid.fierymetal.instability.factor_flat=
    S:fluid.fierymetal.seabanned=
    S:fluid.fire_water.cardrank=
    S:fluid.fire_water.grammar=
    S:fluid.fire_water.instability.factor_accessibility=
    S:fluid.fire_water.instability.factor_flat=
    S:fluid.fire_water.seabanned=
    S:fluid.formic_acid.cardrank=
    S:fluid.formic_acid.grammar=
    S:fluid.formic_acid.instability.factor_accessibility=
    S:fluid.formic_acid.instability.factor_flat=
    S:fluid.formic_acid.seabanned=
    S:fluid.gasoline.cardrank=
    S:fluid.gasoline.grammar=
    S:fluid.gasoline.instability.factor_accessibility=
    S:fluid.gasoline.instability.factor_flat=
    S:fluid.gasoline.seabanned=
    S:fluid.glowstone.cardrank=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.gold.cardrank=
    S:fluid.gold.grammar=
    S:fluid.gold.instability.factor_accessibility=
    S:fluid.gold.instability.factor_flat=
    S:fluid.gold.seabanned=
    S:fluid.honey.cardrank=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.seabanned=
    S:fluid.hootch.cardrank=
    S:fluid.hootch.grammar=
    S:fluid.hootch.instability.factor_accessibility=
    S:fluid.hootch.instability.factor_flat=
    S:fluid.hootch.seabanned=
    S:fluid.ichor.cardrank=
    S:fluid.ichor.grammar=
    S:fluid.ichor.instability.factor_accessibility=
    S:fluid.ichor.instability.factor_flat=
    S:fluid.ichor.seabanned=
    S:fluid.iron.cardrank=
    S:fluid.iron.grammar=
    S:fluid.iron.instability.factor_accessibility=
    S:fluid.iron.instability.factor_flat=
    S:fluid.iron.seabanned=
    S:fluid.knightmetal.cardrank=
    S:fluid.knightmetal.grammar=
    S:fluid.knightmetal.instability.factor_accessibility=
    S:fluid.knightmetal.instability.factor_flat=
    S:fluid.knightmetal.seabanned=
    S:fluid.lead.cardrank=
    S:fluid.lead.grammar=
    S:fluid.lead.instability.factor_accessibility=
    S:fluid.lead.instability.factor_flat=
    S:fluid.lead.seabanned=
    S:fluid.liquid_sunshine.cardrank=
    S:fluid.liquid_sunshine.grammar=
    S:fluid.liquid_sunshine.instability.factor_accessibility=
    S:fluid.liquid_sunshine.instability.factor_flat=
    S:fluid.liquid_sunshine.seabanned=
    S:fluid.lubricant.cardrank=
    S:fluid.lubricant.grammar=
    S:fluid.lubricant.instability.factor_accessibility=
    S:fluid.lubricant.instability.factor_flat=
    S:fluid.lubricant.seabanned=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.napalm.cardrank=
    S:fluid.napalm.grammar=
    S:fluid.napalm.instability.factor_accessibility=
    S:fluid.napalm.instability.factor_flat=
    S:fluid.napalm.seabanned=
    S:fluid.nickel.cardrank=
    S:fluid.nickel.grammar=
    S:fluid.nickel.instability.factor_accessibility=
    S:fluid.nickel.instability.factor_flat=
    S:fluid.nickel.seabanned=
    S:fluid.nutrient_distillation.cardrank=
    S:fluid.nutrient_distillation.grammar=
    S:fluid.nutrient_distillation.instability.factor_accessibility=
    S:fluid.nutrient_distillation.instability.factor_flat=
    S:fluid.nutrient_distillation.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.petrotheum.cardrank=
    S:fluid.petrotheum.grammar=
    S:fluid.petrotheum.instability.factor_accessibility=
    S:fluid.petrotheum.instability.factor_flat=
    S:fluid.petrotheum.seabanned=
    S:fluid.plantoil.cardrank=
    S:fluid.plantoil.grammar=
    S:fluid.plantoil.instability.factor_accessibility=
    S:fluid.plantoil.instability.factor_flat=
    S:fluid.plantoil.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.seabanned=
    S:fluid.rocket_fuel.cardrank=
    S:fluid.rocket_fuel.grammar=
    S:fluid.rocket_fuel.instability.factor_accessibility=
    S:fluid.rocket_fuel.instability.factor_flat=
    S:fluid.rocket_fuel.seabanned=
    S:fluid.rubber.cardrank=
    S:fluid.rubber.grammar=
    S:fluid.rubber.instability.factor_accessibility=
    S:fluid.rubber.instability.factor_flat=
    S:fluid.rubber.seabanned=
    S:fluid.silver.cardrank=
    S:fluid.silver.grammar=
    S:fluid.silver.instability.factor_accessibility=
    S:fluid.silver.instability.factor_flat=
    S:fluid.silver.seabanned=
    S:fluid.stagnant_water.cardrank=
    S:fluid.stagnant_water.grammar=
    S:fluid.stagnant_water.instability.factor_accessibility=
    S:fluid.stagnant_water.instability.factor_flat=
    S:fluid.stagnant_water.seabanned=
    S:fluid.steam.cardrank=
    S:fluid.steam.grammar=
    S:fluid.steam.instability.factor_accessibility=
    S:fluid.steam.instability.factor_flat=
    S:fluid.tar.cardrank=
    S:fluid.tar.grammar=
    S:fluid.tar.instability.factor_accessibility=
    S:fluid.tar.instability.factor_flat=
    S:fluid.tar.seabanned=
    S:fluid.tin.cardrank=
    S:fluid.tin.grammar=
    S:fluid.tin.instability.factor_accessibility=
    S:fluid.tin.instability.factor_flat=
    S:fluid.tin.seabanned=
    S:fluid.tropicraft.portal.cardrank=
    S:fluid.tropicraft.portal.grammar=
    S:fluid.tropicraft.portal.instability.factor_accessibility=
    S:fluid.tropicraft.portal.instability.factor_flat=
    S:fluid.tropicraft.portal.seabanned=
    S:fluid.tropicraft.water.cardrank=
    S:fluid.tropicraft.water.grammar=
    S:fluid.tropicraft.water.instability.factor_accessibility=
    S:fluid.tropicraft.water.instability.factor_flat=
    S:fluid.tropicraft.water.seabanned=
    S:fluid.vapor_of_levity.cardrank=
    S:fluid.vapor_of_levity.grammar=
    S:fluid.vapor_of_levity.instability.factor_accessibility=
    S:fluid.vapor_of_levity.instability.factor_flat=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


